<script type="text/javascript">
  RED.nodes.registerType('templates',{
    category: "agilite",
    inputs: 1,
    outputs:1,
    icon: "templates.png",
    color: "#ffa4a2",
    label: function() {
        return this.name||"Templates";
    },
    paletteLabel : "templates",
    defaults : {
      server: {
        value : "",
        required: true,
        type: "agilite-login"
      },
      profileKey: {
        value : ""
      },
      name: {
        value:""
      },
      field: {
        value: "payload",
      },
      fieldType: {
        value: "msg"
      },
      failFlow: {
        value: true
      }
    },
    oneditprepare: function() {
            if (!this.fieldType)
              this.fieldType = 'msg';
            
            $("#node-input-field").typedInput({
                default: 'msg',
                types: ['msg','flow','global'],
                typeField: $("#node-input-fieldType")
            });
        }
  });
</script>

<script type="text/x-red" data-template-name="templates">
  <div class="form-row">
    <label for="node-input-server"><i class="fa fa-server"></i> Server</label>
    <input type="text" id="node-input-server" placeholder="Server"></input>
  </div>
  <div class="form-row">
    <label for="node-input-profileKey"><i class="fa fa-key"></i> Profile Key {{m}}</label>
    <input type="text" id="node-input-profileKey" />
  </div>
  <div class="form-row">
        <label for="node-input-field"><i class="fa fa-edit"></i> <span data-i18n="template.label.property">Output to</span></label>
        <input type="text" id="node-input-field" placeholder="payload" style="width:250px;">
        <input type="hidden" id="node-input-fieldType">
  </div>
  <div class="form-row">
    <label for="node-input-failFlow"><i class="fa fa-exclamation-triangle"></i> <span data-i18n="template.label.property">Fail Flow on Error</span></label>
    <input type="checkbox" id="node-input-failFlow" style="width:initial;" /> Yes
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Node Name" />
  </div>
</script>

<script type="text/x-red" data-help-name="templates">
  <h4>Description</h4>
  <p>A node to have Agilit-e process and return a template based on the provided Profile Key</p>
  <p> Fields where the label includes {{m}} are mustache-enabled fields relative to the msg object </p>

  <h4>Input</h4>
  <p>The Profile Key can either be manually specified in the UI Form of this node or via Mustache, or passed programmatically via <code>msg.agilite.templates.profileKey</code></p>
  <p>Any additional attributes that need to be passed to the API can be specified in <code>msg.payload</code>. An example is to pass a JSON object via <code>msg.payload</code> which will be used to transform the template using <a target="_blank" href="http://mustache.github.io">Mustache</a>.</p>

  <h4>Output</h4>
  <p>The output of this node will deliver a string value to where the <code>Output To</code> field is pointing, <code>msg.payload</code> by default, which will be the returned Template from Agilit-e.</p>
  <p>Additional information about the API result can be found in the following <code>msg.agilite</code> attributes:
    <ul>
        <li><code>msg.agilite.success</code>: Boolean</li>
        <li><code>msg.agilite.messages</code>: Array (List of error messages if success = false)</li>
    </ul>
  </p>
</script>
